pytorch-lightning 
torch
torchvision

# yolo api
ultralytics==8.3.113

# config hydra 
hydra-core

# for cross validation
scikit-learn

imblearn

grad-cam

captum

tensorboard

rich

av

transformers

opencv-python
numpy
plotly